# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Ambiente virtual
venv_gamebay/
env/
.env

# Banco de dados
*.db
*.sqlite3

# Distribuição / Packaging
build/
dist/
*.egg-info/
.coverage

# Logs
*.log
log.txt

# Editor / IDE
.vscode/
.idea/
.project
.settings
.vs
*.swp
*~
*.bak

# Tailwind / Node
node_modules/
output.css
# Adicionado para evitar que arquivos de cache ou temporários do Node sejam versionados
npm-debug.log*
yarn-error.log*
package-lock.json
package.json
# MacOS
.DS_Store

# Outros
*.tmp